Drizzle.css
.drizzle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none; 
    overflow: hidden;
    z-index: 10; 
  }
  
  .drops {
    position: absolute;
    width: 2px; /* Smaller width for drizzle */
    height: 10px; /* Smaller height for drizzle */
    background: rgba(174, 194, 224, 0.5); /* Lighter color for drizzle */
   animation: falls 3s infinite linear; /* Slower speed for drizzle */
  } 
  
  @keyframes falls {
    to {
      transform: translateY(100vh);
    }
  }
  