.weather-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../public/images/main.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .rainy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  } 
  
  @keyframes rain {
    0% { background-position: 0 0; }
    100% { background-position: 0 100%; }
  } 



/* Add more weather conditions */
/* .partly-cloudy {
    background: url('../public/images/partly-cloudy.jpg') no-repeat center center fixed;
    background-size: cover;
  } */

  .thunderyoutbreaks {
    background: url('../public/images/Thundery-outbreaks.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  



  
  